<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Guia de perguntas</title>
</head>

<body>

  <% if(msg){ %>
    <h3> Mensagem de erro!</h3>
  <% } else{ %>
    <h3> sem erro!</h3>
  <% } %>

  <% products.forEach(product => { %>
    <%= product.nome %>
    <%= product.preco %>
  <% }) %>
</body>

</html>